<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>LearnersAcademyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherController</display-name>
    <servlet-name>TeacherController</servlet-name>
    <servlet-class>com.controller.TeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherController</servlet-name>
    <url-pattern>/TeacherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectController</display-name>
    <servlet-name>SubjectController</servlet-name>
    <servlet-class>com.controller.SubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectController</servlet-name>
    <url-pattern>/SubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassController</display-name>
    <servlet-name>ClassController</servlet-name>
    <servlet-class>com.controller.ClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassController</servlet-name>
    <url-pattern>/ClassController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherUpdate</display-name>
    <servlet-name>TeacherUpdate</servlet-name>
    <servlet-class>com.controller.TeacherUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherUpdate</servlet-name>
    <url-pattern>/TeacherUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTeacher_Class</display-name>
    <servlet-name>AssignTeacher_Class</servlet-name>
    <servlet-class>com.controller.AssignTeacher_Class</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTeacher_Class</servlet-name>
    <url-pattern>/AssignTeacher_Class</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignClass_Student</display-name>
    <servlet-name>AssignClass_Student</servlet-name>
    <servlet-class>com.controller.AssignClass_Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignClass_Student</servlet-name>
    <url-pattern>/AssignClass_Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignSubject_Teacher</display-name>
    <servlet-name>AssignSubject_Teacher</servlet-name>
    <servlet-class>com.controller.AssignSubject_Teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSubject_Teacher</servlet-name>
    <url-pattern>/AssignSubject_Teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subject_TeacherDetail</display-name>
    <servlet-name>Subject_TeacherDetail</servlet-name>
    <servlet-class>com.controller.Subject_TeacherDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subject_TeacherDetail</servlet-name>
    <url-pattern>/Subject_TeacherDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_ClassDetails</display-name>
    <servlet-name>Student_ClassDetails</servlet-name>
    <servlet-class>com.controller.Student_ClassDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_ClassDetails</servlet-name>
    <url-pattern>/Student_ClassDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacher_ClassDetails</display-name>
    <servlet-name>Teacher_ClassDetails</servlet-name>
    <servlet-class>com.controller.Teacher_ClassDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher_ClassDetails</servlet-name>
    <url-pattern>/Teacher_ClassDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassReport</display-name>
    <servlet-name>ClassReport</servlet-name>
    <servlet-class>com.controller.ClassReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassReport</servlet-name>
    <url-pattern>/ClassReport</url-pattern>
  </servlet-mapping>
</web-app>